@import "tailwindcss";


.playfair-display-main {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}



.zen-antique-soft-logo {
  font-family: "Zen Antique Soft", serif;
  font-weight: 400;
  font-style: normal;

}



.open-sans-main {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




